<!DOCTYPE html>
<html>
<head>
    <title>简单的聊天框界面</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #chatbox {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 3%);
            width: 80%;
            max-width: 500px;
            height: 500px;
        }
        #chatbody {
            overflow: scroll;
        }
    </style>
</head>
<body>
<div id="chatbox" class="card">
    <div class="card-header">Chatbox</div>
    <div class="card-body" id="chatbody">
        <!-- Messages will be appended here -->
    </div>
    <div class="card-footer">
        <form id="messageForm">
            <div class="input-group">
                <input type="text" class="form-control" id="message-input" placeholder="Type a message...">
                <div class="input-group-append">
                    <button class="btn btn-primary message-send" type="submit" id="send-button">Send</button>
                </div>
            </div>
        </form>
    </div>
<!--    <div><input id="file-upload" type="file" /></div>-->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var btn = $('.message-send');
    $('#messageForm').submit(function(e) {
        e.preventDefault();
        var msg = $('#message-input').val();
        $('#message-input').val('');

        fetch('/query', {  // 后端的API接口
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({query: msg})
        })
        .then(response => response.json())
        .then(data => {
            $('#chatbody').append('<p><strong>Server:</strong> ' + data.msg + '</p>');
            btn.prop('disabled', false);
        });

        $('#chatbody').append('<p><strong>Client:</strong> ' + msg + '</p>');
        btn.prop('disabled', true); // Disable send button after sending a message
    });
</script>
</html>